<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ISE"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;ISE&quot; type=&quot;1&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.osgi_3.18.200.v20221116-1324.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.osgi_3.18.200.v20221116-1324.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.core.commands_3.10.300.v20221024-2137.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.core.commands_3.10.300.v20221024-2137.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.equinox.common_3.17.0.v20221108-1156.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.equinox.common_3.17.0.v20221108-1156.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.equinox.registry_3.11.200.v20220817-1601.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.equinox.registry_3.11.200.v20220817-1601.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.core.runtime_3.26.100.v20221021-0005.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.core.runtime_3.26.100.v20221021-0005.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.text_3.12.300.v20220921-1010.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.text_3.12.300.v20220921-1010.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.swt.win32.win32.x86_64_3.122.0.v20221123-2302.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.swt.win32.win32.x86_64_3.122.0.v20221123-2302.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.jface_3.28.0.v20221024-1426.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.jface_3.28.0.v20221024-1426.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.jface.text_3.22.0.v20221119-1047.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.jface.text_3.22.0.v20221119-1047.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.ui.workbench_3.127.0.v20221024-2137.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.ui.workbench_3.127.0.v20221024-2137.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/com.ibm.icu_72.1.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/com.ibm.icu_72.1.0.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.ui.forms_3.11.500.v20221024-2137.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;C:/Users/acreg/.p2/pool/plugins/org.eclipse.ui.forms_3.11.500.v20221024-2137.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ISE/jgoodies-forms-1.8.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/ISE/jgoodies-forms-1.8.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ISE/miglayout15-swing.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/ISE/miglayout-src.zip&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17&quot; path=&quot;5&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GUI"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ISE"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ISE"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx9216m"/>
</launchConfiguration>
